<link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>
<%- include('./partials/header') %>
<%- include('./partials/post_nav',{user:user, pub:pub}) %>

<div class="">
    <div style="margin-top: 26px;">
        <div id="banner-h" class="d-flex">
            <div><img src="/static/img/banner000.jpeg" alt=""></div>
            <div><img src="/static/img/banner00.jpeg" alt=""></div>
            <div><img src="/static/img/banner01.jpeg" alt=""></div>
            <div><img src="/static/img/banner02.jpeg" alt=""></div>
        </div>
    </div>
    <br>
    <div id="about" class="container content">
        <h3 class="heading text-blue">
            About Us
            <div class="separator">
                <span class="dott"></span>
                <span class="dott"></span>
                <span class="dott"></span>
            </div>
        </h3>
        <br>
        <p class="para">
            An internship management portal is a web-based platform that helps companies streamline and automate the internship process, from application and selection to onboarding and performance management. It provides a central location for interns, supervisors, and other stakeholders to manage all aspects of the internship program,</p>
        <p class="para">Faitein (<a href="http://faitein.in" target="_blank" rel="noopener noreferrer"> www.faitein.in</a>)- internship management portal can help companies save time and resources, improve the intern experience, and create a more efficient and effective internship program.</p>
        <br>
        <h6 class="text-blue font-weight-bold">We assist companies through following services: -</h6>
        <p class="para">
            <ul>
<li> Internship postings and applications
</li>
<li> Mergers and Acquisitions</li>
<li> Applicant selection</li>
<li>Onboarding</li>
<li> Performance management</li>
<li> Communication and collaboration</li>
</ul>
        </p>
    </div>
    
    <div class=" container-fluid home-banner">
        
        <h3>Want to lead? Get an internship. </h3>
        <div>
            <img src="/static/img/tick.svg" alt="✔">
            Apply for free
        </div>
        <div>
            <img src="/static/img/tick.svg" alt="✔">
            100% verified
        </div>
        <div>
            <img src="/static/img/tick.svg" alt="✔">
            Performance based stipend
        </div>
        <br><br><br>
        <div><a href="/internships">View internships</a></div>
    </div>

    <div class="container content">
        <h3 class="heading text-blue">
            What it is ?
            <div class="separator">
                <span class="dott"></span>
                <span class="dott"></span>
                <span class="dott"></span>
            </div>
        </h3>
        <br>
        <p class="para">Our internships is an approach to problem-based and project-based learning that relies upon hands-on, often collaborative, learning experiences as a method for solving authentic problems. Inspired by the spirit of Nai talim education, propounded by Gandhi ji, we undertake to impart knowledge by making the students habituate themselves with the competent environment.</p>
        <h6 class="text-blue font-weight-bold">Perks for the candidates: </h6>
        <ul>
            <li>Internship Certificate</li>
            <li>Appreciation Certificate</li>
            <li>Performance based Stipend PPO</li>
            <li>Practical knowledge on the core specialisation</li>
            <li>Hands on Practical Training</li>
            <li>Group and Individual Training to every Person</li>
            <li>Placement Assistance</li>

        </ul>
    </div>
    
</div>

<%- include('./user/login-modal') %>
<script type="text/javascript" src="static/slick/slick.min.js"></script>
<script>
    $(document).ready(() => {
        $('#banner-h').slick({ 
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        autoplay: true,
        autoplaySpeed: 2000,
        lazyLoad: true,
        arrows: true
        });
    });
    
</script>

<%- include('./partials/footer') %>